:root {
  --orange: rgb(255, 130, 10);
  --light-blue: rgb(70, 88, 217);
  --dark-blue: rgb(43, 27, 156);
  --bg-color: rgb(2, 1, 44); /*900*/
  --search-bar-color: rgb(38, 37, 64); /*800*/
  --active-unit: rgb(48, 47, 74); /*700*/
  --details-color: rgb(60, 59, 94); /*600*/
  --text-300: rgb(172, 172, 183); /*300*/
  --text-200: rgb(212, 211, 217); /*200*/
  --text-00: rgb(255, 255, 255); /*00*/

  --dm-sans: "DM Sans", sans-serif;
  --bricolage: "Bricolage Grotesque", sans-serif;
}

/* Genaral Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
  align-items: center;
  padding: 1.6rem;
}

/* Typography */

.text-1 {
  font-family: var(--dm-sans);
  font-size: 9.6rem;
  font-style: italic;
  font-weight: 600;
  letter-spacing: -1.92px;
  line-height: 9.6rem;
}

.text-2 {
  font-family: var(--bricolage);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.72rem;
}

.text-3 {
  font-family: var(--dm-sans);
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 3.2rem;
}

.text-4 {
  font-family: var(--dm-sans);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.36rem;
}

.text-5 {
  font-family: var(--dm-sans);
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.text-5-medium {
  font-family: var(--dm-sans);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.text-6 {
  font-family: var(--dm-sans);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.16rem;
}

.text-7 {
  font-family: var(--dm-sans);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.92rem;
}

.text-8 {
  font-family: var(--dm-sans);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.68rem;
}

/* Main Container Styles */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Navbar Styles */

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav__units {
  display: flex;
  color: var(--text-00);
  justify-content: center;
  align-items: center;
  background-color: var(--active-unit);
  gap: 0.6rem;
  border-radius: 6px;
  padding: 1rem;
}

.nav__units img,
.sunny {
  width: 100%;
}

/* Header Styles */

.header {
  color: var(--text-00);
  text-align: center;
  margin: 4.8rem 0;
}

/* Search Bar Styles */

.search-container {
  width: 100%;
}

.search__bar {
  background-color: var(--search-bar-color);
  padding: 1.6rem 2.4rem;
  display: flex;
  gap: 1.6rem;
  border-radius: 8px;
  width: 100%;
}

#input-field {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--text-200);
}

.search__btn {
  padding: 1.6rem;
  width: 100%;
  color: var(--text-00);
  background-color: var(--light-blue);
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 1.2rem 0 3.2rem 0;
}

/* General Forecast Styles */

.general-info {
  background-image: url(../images/bg-today-small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 2rem;
  padding: 4.1rem;
}

.city-date-info {
  text-align: center;
  margin-bottom: 1.6rem;
}

.temp-info {
  display: flex;
  gap: 2rem;
  padding: 0 2.45rem;
  justify-content: center;
}

.temp {
  padding: 1.2rem 0;
  display: flex;
}

.city {
  margin-bottom: 1.2rem;
}

.city,
.temp {
  color: var(--text-00);
}

.date {
  color: var(--text-200);
}

.sunny {
  width: 12rem;
  height: 12rem;
}

.detail-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6rem;
  width: 100%;
  margin-top: 2rem;
}

.detail__card {
  padding: 2rem;
  background-color: var(--active-unit);
  border-radius: 12px;
  border: 1px solid var(--details-color);
}

.detail__header {
  color: var(--text-200);
  margin-bottom: 2.4rem;
}

.detail__value {
  color: var(--text-00);
}

/* Daily Forecast Styles */

.daily-forecast-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.daily__card {
  background-color: var(--active-unit);
  border: 1px solid var(--details-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 1rem;
  border-radius: 12px;
}

.daily__temp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.6rem;
}

.daily__header {
  grid-column: 1 / span 3;
  color: var(--text-00);
}

.daily__day {
  margin-bottom: 1.6rem;
}

.daily__day,
.daily__high {
  color: var(--text-00);
}

.daily__low {
  color: var(--text-200);
}

.daily__img {
  width: 6rem;
  height: 6rem;
}
