:root {
  --orange: rgb(255, 130, 10);
  --light-blue: rgb(70, 88, 217);
  --dark-blue: rgb(43, 27, 156);
  --bg-color: rgb(2, 1, 44); /*900*/
  --search-bar-color: rgb(38, 37, 64); /*800*/
  --active-unit: rgb(48, 47, 74); /*700*/
  --details-color: rgb(60, 59, 94); /*600*/
  --text-300: rgb(172, 172, 183); /*300*/
  --text-200: rgb(212, 211, 217); /*200*/
  --text-00: rgb(255, 255, 255); /*00*/

  --dm-sans: "DM Sans", sans-serif;
  --bricolage: "Bricolage Grotesque", sans-serif;
}

/* Genaral Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.35s ease;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
  align-items: center;
  padding: 1.6rem 1.6rem 4.8rem 1.6rem;
}

/* Attribute Styles */
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--text-200);
  text-align: center;
  margin-top: 4rem;
}

.attribution a {
  color: var(--text-00);
}

/* Typography */

.text-1 {
  font-family: var(--dm-sans);
  font-size: 9.6rem;
  font-style: italic;
  font-weight: 600;
  letter-spacing: -1.92px;
  line-height: 9.6rem;
}

.text-2 {
  font-family: var(--bricolage);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.72rem;
}

.text-3 {
  font-family: var(--dm-sans);
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 3.2rem;
}

.text-4 {
  font-family: var(--dm-sans);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.36rem;
}

.text-5 {
  font-family: var(--dm-sans);
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.text-5-medium {
  font-family: var(--dm-sans);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.text-6 {
  font-family: var(--dm-sans);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.16rem;
}

.text-7 {
  font-family: var(--dm-sans);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.92rem;
}

.text-8 {
  font-family: var(--dm-sans);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.68rem;
}

/* Main Container Styles */

.main-container,
.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Navbar Styles */

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.nav__units {
  display: flex;
  color: var(--text-00);
  justify-content: center;
  align-items: center;
  background-color: var(--active-unit);
  gap: 0.6rem;
  border-radius: 6px;
  padding: 1rem;
}

.nav__units img {
  width: 100%;
}

/* Header Styles */

.header {
  color: var(--text-00);
  text-align: center;
  margin: 4.8rem 0;
}

/* Search Bar Styles */

.search-container {
  width: 100%;
  position: relative;
}

.search__bar {
  background-color: var(--search-bar-color);
  padding: 1.6rem 2.4rem;
  display: flex;
  gap: 1.6rem;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

#input-field {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--text-200);
}

.search__btn {
  padding: 1.6rem;
  width: 100%;
  color: var(--text-00);
  background-color: var(--light-blue);
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1.2rem 0 3.2rem 0;
}

.search__btn:hover {
  background-color: var(--dark-blue);
}

.search__img {
  width: 2rem;
  height: 2rem;
}

/* General Forecast Styles */

.general-info-container {
  background-image: url(../images/bg-today-small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 2rem;
  padding: 4.1rem;
}

.city-date-info {
  text-align: center;
  margin-bottom: 1.6rem;
}

.temp-info {
  display: flex;
  gap: 2rem;
  padding: 0 2.45rem;
  justify-content: center;
}

.temp {
  padding: 1.2rem 0;
  display: flex;
}

.city {
  margin-bottom: 1.2rem;
}

.city,
.temp {
  color: var(--text-00);
}

.date {
  color: var(--text-200);
}

.sunny__img {
  width: 12rem;
  height: 12rem;
}

.detail-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6rem;
  width: 100%;
  margin-top: 2rem;
}

.detail__card {
  padding: 2rem;
  background-color: var(--active-unit);
  border-radius: 12px;
  border: 1px solid var(--details-color);
}

.detail__header {
  color: var(--text-200);
  margin-bottom: 2.4rem;
}

.detail__value {
  color: var(--text-00);
}

/* Daily Forecast Styles */

.daily-forecast-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.daily__card {
  background-color: var(--active-unit);
  border: 1px solid var(--details-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 1rem;
  border-radius: 12px;
}

.daily__temp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.6rem;
}

.daily__header {
  grid-column: 1 / span 3;
  color: var(--text-00);
}

.daily__day {
  margin-bottom: 1.6rem;
}

.daily__day,
.daily__high {
  color: var(--text-00);
}

.daily__low {
  color: var(--text-200);
}

.daily__img {
  width: 6rem;
  height: 6rem;
}

/* Hourly Forecast Styles */

.hourly-forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--text-00);
  padding: 2rem 1.6rem;
  background-color: var(--search-bar-color);
  margin-top: 3.2rem;
  border-radius: 20px;
  position: relative;
}

.hourly-forecast-container-day {
  width: 100%;
}

.hourly__heading {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.hourly__toggle {
  display: flex;
  background-color: var(--details-color);
  align-items: center;
  gap: 1.2rem;
  padding: 1rem 1.6rem;
  border-radius: 8px;
}

.hourly__dropdown {
  display: block;
  width: 1.2rem;
  height: 1.8rem;
}

.hourly__card {
  background-color: var(--active-unit);
  border: 1px solid var(--details-color);
  margin: 1.6rem 0 0 0;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  padding: 1rem 1.2rem;
}

.hourly__img {
  width: 4rem;
  height: 4rem;
  margin-right: 0.8rem;
}

.hourly__temp {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.hourly__day,
.units--text,
.unit__value,
.day__dropdown {
  cursor: pointer;
}

/* Units styles */

.units__dropdown {
  color: var(--text-00);
  position: absolute;
  right: 0;
  background-color: var(--active-unit);
  z-index: 200;
  top: 5.3rem;
  border-radius: 12px;
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--details-color);
  width: 214px;
  display: none;
}

.unit__header {
  padding: 1rem 0.8rem;
}

.unit__subheader {
  color: var(--text-300);
  padding: 0.8rem;
}

.unit__value {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.8rem;
  margin-bottom: 0.1rem;
}

.unit_activated,
.unit__value:hover {
  background-color: var(--details-color);
  border-radius: 8px;
}

/* Days Styles */

.day__dropdown-list {
  position: absolute;
  right: 1.6rem;
  top: 7.7rem;
  z-index: 100;
  background-color: var(--search-bar-color);
  border-radius: 12px;
  border: 1px solid var(--details-color);
  padding: 0.8rem;
  display: none;
}

.day__dropdown {
  padding: 1rem 0.8rem;
  width: 214px;
  margin-bottom: 0.4rem;
}

.day-active,
.day__dropdown:hover {
  background-color: var(--active-unit);
  border-radius: 8px;
}

/* Search Suggestion Styles */

.search__dropdown {
  position: absolute;
  background-color: var(--search-bar-color);
  border-radius: 12px;
  border: 1px solid var(--details-color);
  color: var(--text-00);
  top: 6.6rem;
  padding: 0.8rem;
  width: 100%;
  display: none;
}

.search__suggestion {
  padding: 1rem 0.8rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

.active-city,
.search__suggestion:hover,
.search__dropdown p:first-of-type {
  background-color: var(--active-unit);
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  body {
    padding: 2.4rem 2.4rem 8rem 2.4rem;
  }

  .day__dropdown-list {
    right: 2.4rem;
  }

  .header {
    padding: 0 14.3rem;
  }

  .search-container {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
  }

  .search__bar {
    width: 72%;
    align-items: center;
    margin: 0;
  }

  .search__btn {
    width: 28%;
    margin: 0;
  }

  .general-info-container {
    background-image: url(../images/bg-today-large.svg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding: 0 2.5rem;
  }

  .temp-info {
    margin: 8.3rem 0;
  }

  .detail-info-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .daily-forecast-container {
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    gap: 1.6rem;
    margin-top: 3.2rem;
  }

  .daily__header {
    grid-column: 1 / span 7;
    color: var(--text-00);
  }

  .hourly-forecast-container {
    padding: 2.4rem;
  }

  .search__dropdown {
    width: 70.8%;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: 4.8rem 11.2rem;
  }

  .sub-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 3.2rem;
    margin: 0;
    padding: 0;
    align-items: start;
    grid-auto-columns: fit-content;
    grid-auto-rows: fit-content;
  }

  .general-info-container,
  .detail-info-container,
  .daily-forecast-container,
  .hourly-forecast-container {
    margin: 0;
    align-self: start;
  }

  .general-info-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    align-self: flex-start;
  }

  .detail-info-container {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }

  .daily-forecast-container {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
  }

  .hourly-forecast-container {
    grid-column: 3 / span 1;
    grid-row: 1 / span 4;
  }

  .search-container {
    padding: 0 28rem;
  }

  .search__dropdown {
    width: 40%;
  }
}

.display__units {
  display: block;
}
